.header h3 {
    font-weight: 300;
    padding: 10px 20px 0;
}
.header p {
    font-size: 14px;
    font-weight: 300;
    padding: 0 20px;
    margin: 0;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 10px;
    letter-spacing: 0.4px;
    font-weight: 300;
}
.tile {
    height: 300px;
    line-height: 20px;
    text-align: right;
    margin: 10px 0;
    padding: 20px 20px 0 50px;
    border-radius: 10px;
}

.img1 {
    background: url("./assets/stripe.png");
    background-position: 10%s;
    background-size: cover;
    position: relative;
}
.img2 {
    background: url("./assets/barzurk.png");
    background-position: center;
    background-size: cover;
    position: relative;
}
.img3 {
    background: url("./assets/solace.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.img1 a,
.img2 a {
    display: block;
    z-index: 9;
    position: relative;
    top: 10px;
    right: 15px;
    color: #fff;
}

.img a:hover {
    color: blue;
}

/* .img-overlay {
    position: relative;
    z-index: 999;
    height: 270px;
    width: 370px;
    top: -65px;
    left: -32px;
    margin: 0;
    border: solid 2px white;
    border-radius: 10px;
} */

@media screen and (max-width: 575px) {
    .tile {
        text-align: left;
        padding: 40px 10px 0;
        border-radius: 0;
    }
    .img-overlay {
        display: none;
    }
    .img1,
    .img2,
    .img3 {
      margin-top: -120px;
      margin-bottom: 20px;
    }
}
